$color1: #efefef;
$color2: #e4e4e4;
$color3: #c4c4c4;

html,
body {
  font-family: "Source Sans Pro";
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: content-box;
}

img {
  // position: absolute;
  max-width: 100%;
}
/*===========
  Topography
  ===========*/

.bold {
  font-weight: bold;
}

.grey {
  color: gray;
}
.h1 {
  font-size: 56px;
}

.h2 {
  font-size: 48px;
}

.h3 {
  font-size: 36px;
}

.h4 {
  font-size: 28px;
}

.t {
  font-size: 24px;
}

.st {
  font-size: 18px;
}

caption {
  font-size: 14px;
}

/*===========
  Templates
  ===========*/

%div.section {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}

div.nav {
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // padding: 0 72px;
  margin: 0 3em;
  text-align: center;
  ul {
    li {
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
  }
}

div.main {
  @extend %div.section;
  width: 85vw;
  text-align: left;
  align-content: center;
  margin-bottom: 5em;
  margin: auto;
}

div.landingpage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.mainimg {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  // margin: 0 3em;
}

// div.rects {
//   position: relative;
//   display: flex;
//   flex-direction: column;
// }

// div.rect {
//   max-height: 100px;
//   height: 100px;
//   width: 100%;
// }
// div.color1 {
//   background: $color1;
// }

// div.color2 {
//   background: $color2;
// }

// div.color3 {
//   background: $color3;
// }
// img.rotatedrects {
//   align-self: end;
//   height: 624px;
//   left: 0;
//   bottom: 0;
// }
// @media (max-width: 992px) and (min-width: 801px) {
//   div.rect {
//     height: 75px;
//   }
//   img.rotatedrects {
//     height: 464px;
//   }
// }

// @media (max-width: 800px) {
//   div.rect {
//     height: 50px;
//   }
//   img.rotatedrects {
//     display: none;
//     left: 0;
//     bottom: 0;
//   }
// }
div.whoiam {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 8em;
  margin-bottom: 4em;
  justify-content: center;
  align-items: center;

  text.title {
    width: auto;
    margin-right: auto;
  }
  text.content {
    justify-self: center;
    align-self: center;
    margin-right: auto;
    width: 543px;
  }
}

div.skills {
  @extend %div.section;
  align-items: center;
  justify-content: center;
}

div.skillcards {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 36px;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 992px) {
  div.skillcards {
    grid-template-columns: 1fr;
    max-width: 500px;
    // grid-row-gap: 36px;
  }
}

div.project {
  @extend %div.section;
  align-items: center;
}

div.projects {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-gap: 32px;
  grid-row-gap: 32px;
  grid-column-gap: 64px;
  margin: 2em;
  max-width: 1146px;
}

@media (max-width: 992px) {
  div.projects {
    grid-template-columns: 1fr;
    max-width: 500px;
  }
}

div.contact {
  @extend %div.section;
  width: 100%;
  align-items: center;
}

div.emailbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2em;
  height: 118px;
  // box-shadow: 0 0px 20px 0 rgba(64, 64, 64, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(64, 64, 64, 0.2);
  width: 95%;
}

// label.inputlabel {
//   text-align: left;
//   margin: 100em;
// }

// div.single {
//   padding: 0px;
//   margin-top: 1.5em;
// }

// img.caret {
//   width: 256px;
//   left: 1430px;
//   top: 1400px;
// }
