$color1: #efefef;
$color2: #e4e4e4;
$color3: #c4c4c4;

html,
body {
  font-family: "Source Code Pro";
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: content-box;
}

img {
  position: absolute;
  max-width: 100%;
}
/*===========
  Topography
  ===========*/

text.headingfour {
  font-weight: bold;
  font-size: 28px;
}

text.title {
  font-size: 24px;
  font-weight: bold;
}

text.subtitle {
  font-size: 18px;
}

text.body {
  font-size: 14px;
}

div.landingpage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  // margin: 1.5em 0em;
}

div.nav {
  width: 100%;
  ul {
    li {
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: center;
    list-style-type: none;
  }
}

div.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 4em;

  margin-bottom: 8.2em;
  text {
    padding: 0 1em;
  }
}

div.rects {
  position: relative;
  display: flex;
  flex-direction: column;
}

div.rect {
  max-height: 100px;
  height: 100px;
  width: 100%;
}
div.color1 {
  background: $color1;
}

div.color2 {
  background: $color2;
}

div.color3 {
  background: $color3;
}
img.rotatedrects {
  align-self: end;
  height: 624px;
  left: 0;
  bottom: 0;
}
@media (max-width: 992px) and (min-width: 801px) {
  div.rect {
    height: 75px;
  }
  img.rotatedrects {
    height: 464px;
  }
}

@media (max-width: 800px) {
  div.rect {
    height: 50px;
  }
  img.rotatedrects {
    display: none;
    left: 0;
    bottom: 0;
  }
}
div.projectscreen {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5em;
}

div.projects {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin: 2em;
  max-width: 1024px;
}

@media (max-width: 992px) {
  div.projectscreen {
    height: 100%;
    margin-top: 36px;
  }

  div.projects {
    grid-template-columns: 1fr;
    max-width: 500px;
  }
}

div.contact {
  margin: 1em 0em;
  margin-bottom: 2.5em;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.input {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 90%;
  max-width: 500px;
}

label.inputlabel {
  text-align: left;
  margin: 100em;
}

div.single {
  padding: 0px;
  margin-top: 1.5em;
}

img.caret {
  width: 256px;
  left: 1430px;
  top: 1400px;
}
