* {
  box-sizing: content-box;
}

// .projectrect {
//   display: flex;
//   width: 100%;
//   max-width: 500px;
//   border: 1px #e0e0e0 solid;
//   border-radius: 10px;
// }

text.subtitle1 {
  font-size: 14px;
  font-weight: bold;
}

.subtitle2 {
  font-size: 14px;
  margin-top: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

div.projectrect {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  height: 150px;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-top: 1.5em;
  padding-bottom: 0.8em;
}

div.arrow {
  position: relative;
  text-align: center;
  padding: 0.3em;
  // border: 1px solid black;
}
